.pass-reset{
    background-color: #837D90;
    border-color: #837D90;

}
@media screen and (max-width: 480px) {
  .CornerStyle {
    width: 40%;
    height: auto;
  }

  body {
    padding-bottom: 150px; /* adjust based on new height */
  }
  
  .FP-Input{
    width:100% !important;
    max-width: 300px;
    font-size: 16px;
    margin-left: 0;
    
  }

  button{
    width:100%;
    max-width: 300px;
  }

 .Entries{
   margin-left: -60px;

 }



}

