.payment-entries{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.payment-entries input {
    margin-bottom: 15px;
}

h1{
    margin-top: 90px;
}

.confirm-btn{
    background-color: #FA5503;
}

.home{
    margin-left: 100%;
    margin-right: 40px;
    width: 15px;
    height: auto;
}

.ellipseoption{
    display: flex;
    flex-direction: row;
    text-align: center;
}